.avatar {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-small {
    width: 40px;
    height: 40px;
}

.avatar-medium {
    width: 80px;
    height: 80px;
}

.avatar-large {
    width: 120px;
    height: 120px;
}